<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../src/css/layui.css">
    <script src="../src/layui.js"></script>
    <script src="../page/js/jquery.3.3.1.min.js"></script>
    <script src="../page/js/course/chatrecord.js?v=0.0.2"></script>
</head>
<title>答疑记录</title>
<body style="margin-left: 10px; margin-right: 10px;">
<div style="margin-top: 10px;">
    <div style="margin-bottom: 20px;">
        <h1>答疑记录</h1>
        <input hidden id="isTeacher" th:value="${teacher}">
        <form class="layui-form" lay-filter="searchForm">
            <div class="layui-form-item" style="margin-top: 20px;">
                <label class="layui-form-label">答疑内容</label>
                <div class="layui-input-inline">
                    <input type="text" id="queryName" name="name" placeholder="请输入答疑内容" autocomplete="off" class="layui-input">
                </div>
            </div>
        </form>
        <div class="layui-row">
            <div class="layui-col-md3" style="text-align: right">
                <button class="layui-btn" onclick="search()">查询</button>
                <button class="layui-btn" onclick="reset()">重置</button>
            </div>
        </div>
    </div>
<div id="data_table" lay-filter="data_table">

</div>





    <form id="add"  class="layui-form" lay-filter="add" hidden>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">回复问题</label>
            <div class="layui-input-block">
                <textarea name="content" id="content" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
    </form>
<!--    <script type="text/html" id="bar">-->
<!--        <a class="layui-btn layui-btn-xs" lay-event="recall()">回复</a>-->
<!--    </script>-->
</div>
</body>
</html>

