<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../src/css/layui.css">
    <script src="../src/layui.js"></script>
    <script src="../page/js/jquery.3.3.1.min.js"></script>
    <script src="../page/js/menu/menu.js?v=0.0.1"></script>
</head>
<title>菜单管理</title>
<body style="margin-left: 10px;">
<div style="margin-top: 10px;">
    <div style="margin-bottom: 20px;">
        <h1>菜单管理</h1>
    </div>
<div id="menus_table" lay-filter="menus_table">

</div>

<form id="edit"  class="layui-form" lay-filter=" " hidden>
    <div class="layui-form-item" style="margin-top: 20px;">
        <label class="layui-form-label">菜单名</label>
        <div class="layui-input-block">
            <input type="text" style="width: 88%;" name="name" required  lay-verify="required" placeholder="请输入菜单名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否显示</label>
        <div class="layui-input-block">
            <input type="checkbox" name="status" value="Yes" lay-skin="switch" checked>
        </div>
    </div>
</form>


<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="root">上级菜单</a>
    <a class="layui-btn layui-btn-xs" lay-event="child">下级菜单</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</div>
</body>
</html>

