<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../src/css/layui.css">
    <script src="../src/layui.js"></script>
    <script src="../page/js/jquery.3.3.1.min.js"></script>
    <script src="../page/js/role/role.js?v=0.0.4"></script>
</head>
<title>角色管理</title>
<body style="margin-left: 10px;">
<div style="margin-top: 10px;">
    <div style="margin-bottom: 20px;">
        <h1>角色管理</h1>
    </div>

    <button class="layui-btn" onclick="add()">新增角色</button>
</div>

<div id="roles_table" lay-filter="roles_table">

</div>

<div id="permissions" hidden>
    <div id="permissionsTree" class="demo-tree-more"></div>
</div>

<div id="addForm" hidden>
    <form class="layui-form" action="" lay-filter="addRole">
        <div class="layui-form-item" style="margin-top: 50px;">
            <label class="layui-form-label">角色名</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="name" autocomplete="off" style="width: 500px" placeholder="请输入角色名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 50px;">
            <label class="layui-form-label">角色类型</label>
            <div class="layui-input-block" style="width: 500px">
                <select name="type" lay-filter="type" >
                    <option value="NORMAL">普通用户</option>
                    <option value="ADMIN">管理员</option>
                </select>
            </div>
        </div>
    </form>
</div>


<script type="text/html" id="barRole">
    <a class="layui-btn layui-btn-xs" lay-event="permissionShow">权限管理</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</body>
</html>

